/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

.centered {
  text-align: center;
}

.mover {
  height: 100px;
  width: 73.333px;
  position: fixed;
  z-index: -1;
  backface-visibility: hidden;
}

.randomPizzaContainer {
  float: left;
  display: flex;
  width: 33.33%;
  height: 325px;
}

.randomPizzaContainer:after {
  content: "";
  display: flex;
  clear: both;
}

.container {
  background-color: rgba(240, 60, 60, 0.8);
}
